{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "printWidth": 100,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^@discord-point-bot/(.)*$",
    "^@/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "./app/i18n",
    "^[./]"
  ],
  "importOrderSeparation": true
}
